.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* logo 로고 */
.loader_logo {
  max-width: 100%;
  height: 8vh;
  background: url(../image/logo/logo.svg) no-repeat;
  opacity: 80%;
  transform: translateX(25%);
  margin-bottom: 1em;
}

/* bins 강낭콩들 */
.loader_bin {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.bin {
  width: 14.2px;
  height: 25.6px;
  border-radius: 10px;
  transform: rotate(-135deg);
}
.loading {
  animation: loader 1s ease-in-out infinite;
}
.bin_lightpink {
  background-color: #e9c8b9;
}
.bin_red {
  background-color: #cf8378;
  animation-delay: 0.1s;
}
.bin_pink {
  background-color: #e3ac98;
  animation-delay: 0.2s;
}
.bin_lightblue {
  background-color: #bcd6e5;
  animation-delay: 0.3s;
}
.bin_green {
  background-color: #92c0d0;
  animation-delay: 0.4s;
}
.bin_yellow {
  background-color: #ebc680;
  animation-delay: 0.5s;
}
.bin_orange {
  background-color: #e99c7d;
  animation-delay: 0.6s;
}
@keyframes loader {
  from {
    transform: rotate(-135deg) translateY(10px);
  }
  to {
    transform: rotate(-135deg) translateY(0);
  }
}
