@media (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
  .wrap {
    width: 100vw;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0, 0.8);
  }
  .inner {
    width: 100%;
    /* border: 1px solid red; */
    padding: 0 1.5em;
  }
  /*  header 헤더 */
  header {
    position: fixed;
    width: 100vw;
    padding: 0 1.5em;
  }
  .header_inner {
    height: 100%;
    margin: 0px;
    display: flex;
  }
  nav {
    display: none;
  }

  /* section1 - about */
  section.about {
    max-width: 100%;
    margin-top: 60px;
  }
  .about_inner {
    flex-direction: column;
  }
  .bg_circle {
    position: absolute;
    right: calc(45% + 3em);
    bottom: 0%;
  }
  .profile {
    margin-top: 6em;
  }
  .profile_img {
    position: relative;
    width: 60%;
    margin-left: 9em;
  }
  .profile_img img {
    max-width: 100%;
    height: auto;
  }
  /* information 정보 */
  .information {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "contact" "license"
      "education" "career"
      "skills";
    grid-gap: 3em 0em;
    margin-left: 0em;
    padding: 2em 0 0 0;
  }
  .subtitle {
    margin-bottom: 1.6em;
  }
  .subtitle span {
    font-size: 2.2em;
    margin-left: 0.8em;
  }
  ul.desc {
    font-family: "nomal";
    padding-left: 3.2em;
  }
  ul.desc li {
    font-size: 1.4em;
  }
  ul.desc li span {
    margin-right: 1.6em;
  }
  ul.desc li p {
    font-size: 0.85em;
    padding-left: 11.6em;
  }
  /* skills-graph */
  .circle_graph {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0em 2.5em;
  }
  .circle_graph > div {
    width: 10vmin;
    height: 10vmin;
    margin: 0em 0em 3.5em 0em;
  }

  /* section2 - works */
  .works {
    margin-top: 4em;
    margin-bottom: 2em;
    padding-top: 4em;
  }
  ul.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0em;
    gap: 30px 3%;
  }
  li.gallery_item {
  }
  .item_bgc {
    border-radius: 10px;
  }
  /* text */
  .item_text {
    height: calc(41.9vmin - 31.5vmin);
    overflow: hidden;
    border-radius: 0 0 10px 10px;
  }
  .item_text span {
    width: fit-content;
    font-size: 0.9em;
  }
  .item_text h6 {
    font-size: 1.6em;
    margin: 0 0 0.5em 0;
  }
  .item_text p {
    font-size: 1.2em;
  }
  /* 작업중 표시 */
  .work-ing {
  }
  .ing_img {
  }
  .ing_img img {
    width: 70%;
  }
  .work-ing p {
    width: 100%;
    font-size: 1.2em;
  }
  /* section3 - contact */
  .sec_contact {
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
    padding-top: 2em;
    /* 마진 수정 */
  }

  /* 컨텐츠 */
  .contact_inner {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }
  .c_textbox {
    flex: 1;
    padding: 2em 0;
  }
  .c_textbox h2 {
    font-size: 3em;
  }
  .ment p {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
  .address {
    display: flex;
    position: relative;
  }
  .kakao_QR {
    width: 15%;
    position: absolute;
    margin-right: 0em;
    left: 0;
    top: 100%;
    color: #ebc680;
    font-size: 1.2em;
  }
  .kakao_QR img {
    margin-bottom: 0;
  }
  .address ul.desc {
    padding: 0;
  }
  .address ul.desc li {
    font-size: 1.4rem;
  }
  .address ul.desc span {
    margin-right: 0.5em;
    font-size: 1.2rem;
  }

  /* 폼 */
  .c_browser {
    margin-top: 10em;
    margin-bottom: 4em;
  }
  .browser_inner {
    border-radius: 20px;
    margin-top: 0em;
  }
  .browser_top {
    padding: 1em 1.5em 0.7em 1.5em;
  }
  .browser_top span {
    width: 12px;
    height: 12px;
    margin-right: 0.2em;
  }
  .browser_top p {
    font-size: 1.4em;
  }

  /* btn */
  .browser_form form > div > button {
    width: 30%;
    font-size: 1.5em;
    padding: 0.5em 2em;
  }
  /* copyright */
  .copyright p {
    font-size: 1em;
  }
  /* 배경 */
  .contact_bg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contact_bg > span {
    display: block;
    position: absolute;
    z-index: 1;
    max-width: 100%;
  }
  .c_b01 {
    background-color: #e99c7d;
    top: 104%;
    left: 2%;
  }
  .c_b02 {
    background-color: #ebc680;
    top: 101%;
    right: 5%;
  }
  .c_b03 {
    width: 8%;
    background-color: #bcd6e5;
    bottom: 102%;
    left: 40%;
  }
  .c_b04 {
    width: 0;
    background-color: #92c0d0;
    bottom: 20%;
    left: 0%;
  }
  .c_b05 {
    width: 0;
    background-color: #e99c7d;
    bottom: 10%;
    left: 0%;
  }
  .c_b06 {
    width: 15%;
    top: 100%;
    left: 50%;
    opacity: 0;
  }
  .c_b07 {
    width: 40%;
    bottom: 102%;
    right: -3%;
  }
  .c_b06 img,
  .c_b07 img {
    max-width: 100%;
    height: auto;
  }
  /* 모바일용 제목 */
  .m_title {
    display: block;
  }
  .m_title h2 {
    font-size: 3em;
  }
  .about_title {
    color: #e9c8b9;
  }
  .work_title {
    color: #e9c8b9;
    margin-bottom: 2em;
    float: right;
  }
  /* modal */
  .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
  }
  /* 이 안으로 작성 */
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  /* skills-graph */
  .circle_graph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 2.5em;
    font-size: 1.2em;
  }
  .circle_graph > div {
    width: 10vmax;
    height: 10vmax;
    margin: 0em 0.8em 3.5em 0.8em;
  }
  .skill_icon {
    height: 10.5vmax;
    width: 11vmax;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
  }
  .icon_inner {
    height: 8vmax;
    width: 8vmax;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbf8f1;
  }
  .skill_img {
    width: 60%;
    height: 60%;
  }
  .skill_img img {
    max-width: 100%;
    height: auto;
    padding-top: 5%;
  }
  .circle_graph > div > svg {
    width: 11vmax;
    height: 10.4vmax;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-84deg);
  }
  /* section2 - works */
  .works {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 0em;
  }
  ul.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0em;
    gap: 30px 0%;
  }
  li.gallery_item {
    width: 100vmin;
    height: 76.3vmin;
  }
  .item_bgc {
    border-radius: 10px;
  }
  .item_text {
    height: calc(100vmin - 85vmin);
    padding: 1.5em 1.5em 2em 1.5em;
  }
  .item_text span {
    font-size: 1.4em;
  }
  .item_text h6 {
    font-size: 2em;
  }
  .item_text p {
    font-size: 1.6em;
  }
}
