/* section2 - works */
.works {
  margin-top: 7em;
  margin-bottom: 8em;
  padding-top: 5em;
}
ul.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 4%;
  padding: 0em 1em 5em 3em;
}
li.gallery_item {
  width: 30%;
  height: 395px;
  cursor: pointer;
  border-radius: 25px;
}
.item_bgc {
  height: 100%;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 0 2px rgba(122, 88, 83, 0.185);
  transition: 0.5s;
}
.item_bgc:hover .item_text {
  background-color: rgba(255, 255, 255, 0.7);
}
.item_img {
  width: 100%;
  position: relative;
}
.item_img img {
  max-width: 100%;
  width: 95%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
/* text */
.item_text {
  width: 100%;
  height: calc(419px - 315px);
  background-color: #fff;
  border-radius: 0 0 25px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1em 2em 1em;
  box-sizing: border-box;
  transition: 0.3s;
}
.item_text span {
  font-family: "nomal";
  font-size: 1em;
  float: right;
  color: rgba(122, 88, 83, 0.6);
}
.item_text h6 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0.5em 0;
  color: rgba(122, 88, 83, 0.8);
}
.item_text p {
  font-family: "nomal";
  font-size: 1.2em;
  color: rgba(122, 88, 83, 0.6);
}
/* 배경색 설정 */
.doori {
  background-color: #e99c7d;
}
.keei {
  background-color: #ebc680;
}
.crown {
  background-color: #e9c8b9;
}
.protfolio {
  background-color: #bcd6e5;
}
/* 작업중 표시 */
.work-ing {
  background-color: #ffffff;
  position: relative;
}
.ing_img {
  /* width: 30%; */
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ing_img img {
  max-width: 100%;
  width: 70%;
  height: auto;
  margin-left: 2em;
}
.work-ing p {
  width: 100%;
  font-family: "nomal";
  text-align: center;
  font-size: 1.2em;
  padding-top: 1.5em;
}
.work-ing p b {
  color: red;
}
